.cards-container-visit-Map {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    padding: 20px; 
    align-items: start; 
    
    min-height: 200px; 
}

.card-visit-map {
    background-color: white;
    width: 250px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding: 15px; 
    cursor: pointer;
}

.card-visit-map:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card-visit-map h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.card-visit-map p {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}
